<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Agrupar de forma:</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="closeModal()">
        <ion-icon name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>


<ion-content>
  <ion-list>
    <ion-radio-group (ionChange)="radioChanged($event)">
      <ion-item>
        <ion-label>Ascendente (nombre)</ion-label>
        <ion-radio value="title-asc"></ion-radio>
      </ion-item>

      <ion-item>
        <ion-label>Descendente </ion-label>
        <ion-radio value="title-desc"></ion-radio>
      </ion-item>

      <ion-item>
        <ion-label>De Menor a Mayor (Precio)</ion-label>
        <ion-radio value="price-asc"></ion-radio>
      </ion-item>

      <ion-item>
        <ion-label>De Mayor a Menor</ion-label>
        <ion-radio value="price-desc"></ion-radio>
      </ion-item>

    </ion-radio-group>
  </ion-list>
</ion-content>
