<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Ordenar por:</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="closeModal()">
        <ion-icon name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>


<ion-content>
  <ion-list>
    <ion-radio-group (ionChange)="radioChanged($event)">
      <ion-item>
        <ion-label>NOMBRE (A-Z)</ion-label>
        <ion-radio value="title-asc"></ion-radio>
      </ion-item>

      <ion-item>
        <ion-label>NOMBRE (Z-A) </ion-label>
        <ion-radio value="title-desc"></ion-radio>
      </ion-item>

      <ion-item>
        <ion-label>PRECIO (mayor a menor)</ion-label>
        <ion-radio value="price-asc"></ion-radio>
      </ion-item>

      <ion-item>
        <ion-label>PRECIO (menor a mayor)</ion-label>
        <ion-radio value="price-desc"></ion-radio>
      </ion-item>

    </ion-radio-group>
  </ion-list>
</ion-content>
