<ion-content [fullscreen]="true">
  <ng-container *ngIf="cart.productData.length > 0; else showOther">
    <app-cart-view [prod]="cart.productData"></app-cart-view>
  </ng-container>

  <ng-template #showOther>
    <ion-img src="/assets/images/empty-cart.png"></ion-img>
    <div class="d-flex ion-justify-content-center">
      <ion-button class="button button-block button-positive" routerLink="/tabs/tab1">Ir A La Tienda</ion-button>
    </div>
  </ng-template>

</ion-content>

  <ion-footer>
    <ion-toolbar *ngIf="cart.productData.length > 0">
      <ion-label slot="start">
        <ion-text class="totalPrice" >{{ total |currency:"USD"}}<ion-note>({{ cart.count }})</ion-note></ion-text>
      </ion-label>
      <ion-buttons>
        <ion-button
        class="ion-activatable ripple-parient"
        color="warning"
        expand="full"
        fill="solid"
        size="large"
        routerLink="/checkout"
    >
        Comprar Ahora
      <ion-ripple-effect type="unbounded"></ion-ripple-effect>
  </ion-button>
      </ion-buttons>

    </ion-toolbar>
  </ion-footer>

