<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Gracias</ion-title>
    <ion-buttons slot="end">
      <ion-button routerLink="/">
        <ion-icon slot="icon-only" name="home"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col>
        <div class="jumbotron text-center">
          <h1 class="display-3">Gracias por su Compra!</h1>
          <p class="lead"><strong>Por favor revisa tu Email</strong> Para Confirmar su Orden.</p>
          <hr>
          <p>
          <p>Numero de Pedido : <strong>{{orderId}}</strong></p>
        </div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col class="d-flex justify-content-center">
        <ion-button routerLink="/tabs/tab1" color="primary" fill="solid" expand="full" size="large">Ir A Inicio</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
